body {
  background-color: #c698d1;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: white;
  font-size: 38;
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
  text-align: center;
}

img {
  width: 10%;
  Float: right;
  opacity: 100%;
  animation: experience 2s ease-in 4s 1 normal;
  animation-fill-mode: both;
}

.photo-container a {
    text-decoration: none;
    color: black;
    cursor: default;
    font-weight: normal;
}

.photo-container a span {
    visibility: hidden;
    position: relative;
    left: 15em;
    top: -2.3em;
    background: #ffff6b;
    width: 17em;
    border: 1px solid #404040;
    font-size: 0.8em;
    padding: 0.3em;
    cursor: default;
    line-height: 1.4;
}

.photo-container a:hover span {
    visibility: visible;
}

footer {
  background: black;
  color: white;
  text-align: center;
  animation: experience 2s ease-in 4s 1 normal;
  animation-fill-mode: both;
}
li {
  color: #e5e7e8;
  font-size: 12px;
}

p {
  color: #464747;
  font-size: 12px;
}


.experience {
  border: 1px solid black;
  opacity: 0%;
  animation: experience 2s ease-in 1s 1 normal; 
  animation-fill-mode: both;
}

.education {
  border: 1px solid black;
  opacity: 0%;
  animation: experience 2s ease-in 3s 1 normal; 
  animation-fill-mode: both;
}

@keyframes experience {
  from {opacity:0%;}
  to {opacity:100%}
}

h3{
  text-decoration-line: overline underline;
  text-decoration-style: double;
  text-decoration-color: gray;
}
