body {
  background-color: pink;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%
}

header {
  color: white;
  font-size: 38;
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
  padding-left: 50%;
}

img {
  width: 25%;
  float: right;
}

footer {
  background: black;
  color: white;
  padding-left: 50%;
}
li {
  color: white;
  font-size: 12px;
}

p {
  color: red;
  font-size: 10px;
}

experience {
  outline-color: black;
  outline-size: 1px
}
