body {
  background-color: #c698d1;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%
}

header {
  color: white;
  font-size: 38;
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
  text-align: center;
}

img {
  width: 25%;
  float: right;
}

footer {
  background: black;
  color: white;
  text-align: center;
}
li {
  color: #e5e7e8;
  font-size: 12px;
}

p {
  color: #464747;
  font-size: 12px;
}

article {
  border: 1px solid black
}

h3{
  text-decoration-line: overline underline;
  text-decoration-style: double;
  text-decoration-color: gray;
}
.tooltip {
  position: relative;
  display: inline-block;
  
}
.tooltiptext{
  visibility:hidden;
    width: 120px;
  border-radius: 6px;
  background-image: url("src="https://images.squarespace-cdn.com/content/v1/5eceb0b8d766c37d4d4d1c9d/1590613460578-1VNGKWMXZAQNEB4VGZ3Y/final-26.jpg"")
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext{
  visibility: visible;
}
